<html>
    <link rel="stylesheet" href="static/css/styleMeteo.css">
    <head>
        <title>
            {{title}}
        </title>
    </head>
    <header>
        <h1>
            Il Meteo
        </h1>
    </header>
    <body>
        <div class="sottotitolo">
            <p>
                {{sottotitolo}}
            </p>
        </div>
        <div class="inp"class="sottotitolo1">
            <p>
                {{inserimento}}
            </p>
         
            <input type="search" id="in">
            <button onclick="Cerca()"> {{cerca}} </button>
        </div>
        
        <div class="meteo1">
            <p id="meteo">
            </p>
        </div>
        <div>
            <p>
                <h4>
                    Temporali al Nord!!!
                    Allerta gialla
                </h4>
                <img src="../img/temporali.png">
            </p>
            
        </div>
        <script type=text/javascript src="{{url_for('static', filename='js/Meteo.js')}}"></script>
    </body>
</html>