<html>
    <head>
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <div>
            <p>
                {{sottotitolo}}
            </p>
        </div>
        <div>
            <p>
                {{inserimento}}
            </p>
        </div>
        <div>
            <input type="search" id="in">
            <button onclick="Cerca()"> {{cerca}} </button>
        </div>
        <p id="meteo">

        </p>
        <script type=text/javascript src="{{url_for('static', filename='js/Meteo.js')}}"></script>
    </body>
</html>